<div class="container me-2"> 
  <div class="wrapper mt-2">
     <img class="banner-image" [src]="'http://127.0.0.1:3000/getimage/' + star.photo" alt="Star image">
    <h1>{{star.name}}</h1>
    <p>Likes: {{star.likes}} <br>
      {{star.price | dinar}}</p>
  </div>
<button (click)="onUpdate(star)" class="btn btn-danger"><i [ngClass]="{'bi bi-heart': i === 0, 'bi bi-heart-fill': i > 0}"></i> Like</button>
  <div class="button-wrapper">
    <button class="btn outline" [routerLink]="['/stars', star._id]">Details</button>
    <button class="btn fill" (click)="onClick()">Buy Now</button>
  </div>
</div>
