<div class="contact-component">
    <div class="second-container bg-dark">
<h1>Get in Touch</h1>
<div class="input-container">
<input id="email" [(ngModel)]="email_id" type="email" placeholder="Email-adress">
<input id="fullname"   [(ngModel)]="from_name" type="text" placeholder="full name"><br>
<textarea id="message"  [(ngModel)]="message" name="" id="" cols="" rows="10" placeholder="tell us what you need here!"></textarea>
</div>

<button class="btn" type="submit" (click)="sendMail()">Send</button>
</div>
</div>
