@for (star of stars; track $index) {
    <div class="thecard card m-2  " style="width: 18rem;">
        <div class="thefront">
      
          <img class="card-img-top "  [src]="'http://127.0.0.1:3000/getimage/' + star.photo" alt="Star image" height="339" >
          <div class="card-body">
            <h5 class="card-title text-dark">{{star.name}}</h5>
            <p class="card-text text-dark">Likes :{{star.likes}}</p>
            <p class="card-text text-dark">{{star.price | dinar}}</p>
          </div>

          
          
        </div>
        <button>Delete</button>
   
      
      
      </div>
      
}


