<div class="background-img">
  <h1>Your Place in the Stars - StarLik</h1>
  <p class="p-about">Captivated by the cosmos? With StarLik, you can name a star
    for yourself or a loved one and receive a personalized certificate,
    creating memories that shine forever.
  </p>
  <button routerLink="/home">Get Started</button>

  <div class="second-div">
    <div class="div-text">
      <h2 class="text-white">Give a Unique, Lasting Gift with Your Own Named Star</h2>
      <p class="text-white">With StarLik, create a lasting connection to the cosmos by naming a star.
        It's a unique, meaningful way to celebrate someone special or mark an unforgettable moment.
      </p>
    </div>
    <div class="second-img"></div>
  </div>

  <div class="third-div mb-4">
    <h1>Our Team</h1>
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4 mb-4" style="margin-right: 30%;">
          <div class="card">
            <div class="card-imgOne"></div>
            <div class="card-body">
              <h5 class="card-title">Nour Bouraoui</h5>
              <p class="card-text">Dedicated to crafting user-friendly interfaces and bringing creative ideas to life.</p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-4">
          <div class="card">
            <div class="card-imgTwo" style=""></div>
            <div class="card-body">
              <h5 class="card-title">Rislen Neji</h5>
              <p class="card-text"> Focused on building robust server-side systems and ensuring data integrity. </p>
              <a href="#" class="btn btn-primary">Learn More</a>
            </div>
          </div>
        </div>
      </div>
    </div>



  </div>