.background-img {
    height: 100%;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../../../public/ressource/theone.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.background-img h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 250px;
}

.background-img p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.background-img button{
    background-color: transparent;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    padding-inline: 16px;
    padding-block: 8px;
    width: 150px;
    height: 50px;
}

.background-img button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(105%);
}
.p-about{
    display: block;
    text-align: center;
    display: block;
    font-size: 25px !important;
    width: 700px;
}
h1{
    font-size: 80px !important;
}
.second-img{
    background-image:
    url('../../../../public/ressource/image.png'); 
    width:430px ;
    height: 242px;
}
.second-div{
    display: flex;
    justify-content: space-around;
    /* height: 30%; */
    padding-block: 200px;
}
.div-text{
    width:40%;
}


