<!-- website infos -->
<div class="background-img">
    <h1>Your Place in the Stars - StarLik</h1>
    <p class="p-about">Captivated by the cosmos? 
        With StarLik, you can name a star
        for yourself or a loved one
        and receive a personalized certificate,
        creating memories that shine forever.</p>
    <button (click)="onclick()">Get Started </button>

    <div class="second-div">
    <div class="div-text">
    <h2 class="text-white">Give a Unique, Lasting Gift with Your Own Named Star</h2>
    <p class="text-white">With StarLik, create a lasting 
        connection to the cosmos by naming a star.
         It's a unique, meaningful way to celebrate someone 
         special or mark an unforgettable moment.</p></div>
         <div class="second-img">
    </div>
    </div>
</div>
