.background-img {
    height: 100%;
    background-image: 
    linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url('../../../../public/ressource/theone.png'); 
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.background-img h1 {
    font-size: 50px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin-top: 250px;
    text-align: center;
}

.background-img p {
    font-size: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.background-img button{
    background-color: transparent;
    border-radius: 25px;
    color: white;
    border: 1px solid white;
    padding-inline: 16px;
    padding-block: 8px;
    width: 150px;
    height: 50px;
    margin-top: 20px;
}

.background-img button:hover{
    background-color: white;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: scale(105%);
}

.p-about {
    display: block;
    text-align: center;
    font-size: 25px;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.second-img {
    background-image: url('../../../../public/ressource/b6abc0e6ca5eda1bb3468e0dbd35cfda_upscayl_4x_realesrgan-x4plus.png'); 
    width: 100%;
    max-width: 600px;
    height: 400px;
    border-radius: 5%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.second-div {
    display: flex;
    justify-content: space-around;
    padding-top: 20%;
    flex-wrap: wrap;
    width: 100%;
}

.div-text {
    padding-top: 7%;
    width: 100%;
    max-width: 40%;
    text-align: center;
}

.third-div {
    display: flex;
    justify-content: space-around;
    padding-top: 20%;
    flex-wrap: wrap;
}

.third-image {
    background-image: url('../../../../public/ressource/3f235c9677ce90c351688ceab82a2dd1_upscayl_4x_realesrgan-x4plus.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    width: 300px; 
    height: 300px; 
    margin-right: 5%; 
    margin-bottom: 10%;
    border: 1px solid #ccc; 
    border-radius: 150px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.text-third {
    width: 100%;
    max-width: 50%;
    font-size: 1.2rem; 
    line-height: 1.6; 
    text-align: justify; 
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .background-img h1 {
        font-size: 30px;
    }

    .p-about {
        font-size: 18px;
        width: 100%;
        margin: 0 20px;
    }

    .second-div {
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
    }

    .div-text {
        width: 100%;
        padding-top: 0;
    }

    .second-img {
        width: 80%;
        height: 300px;
    }

    .third-div {
        flex-direction: column;
        align-items: center;
        padding-top: 20%;
    }

    .third-image {
        width: 200px;
        height: 200px;
    }

    .text-third {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    .background-img h1 {
        font-size: 24px;
    }

    .background-img p {
        font-size: 16px;
    }

    .p-about {
        font-size: 16px;
        width: 100%;
        margin: 0 15px;
    }

    .second-img {
        width: 100%;
        height: 250px;
    }

    .third-image {
        width: 150px;
        height: 150px;
    }

    .text-third {
        font-size: 1rem;
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .second-div {
        padding-top: 15%;
    }
}