<nav class="navbar bg-dark navbar-expand-lg" data-bs-theme="dark">
  <div class="container-fluid">
    <!-- Navbar brand -->
    <a class="navbar-brand m-3 fs-4" [routerLink]="['/home']" routerLinkActive="router-link-active">Starlik</a>

    <!-- Toggle button for small screens -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Collapsible navbar content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fs-5" aria-current="page" [routerLink]="['/home']" routerLinkActive="nav-link active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" [routerLink]="['/about']" routerLinkActive="nav-link active">About</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/contact" routerLinkActive="nav-link active">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fs-5" routerLink="/stars" routerLinkActive="nav-link active">View stars</a>
        </li>
        <!-- Search bar -->
        <li class="nav-item" style="margin-left: 200px;">
          <form class="d-flex" role="search">
            <input class="form-control me-2 fs-5" type="search" placeholder="Search" aria-label="Search" style="width: 400px;">
            <button class="btn btn-outline-primary" type="submit">Search</button>
          </form>
        </li>
        <!-- Cart icon -->
        <li class="nav-item">
          <button class="btn btn-outline-light " style="margin-left: 200px;">
            <i class="bi bi-bag fs-4"></i>
          </button>
        </li>
        
      </ul>
    </div>
  </div>
</nav>
