<div class="before"></div>
<div class="background">
<div class="form-container card shadow">
      <div class="logo-container">
        Forgot Password
      </div>
      <form class="form">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" id="email" name="email" placeholder="Enter your email" class="input" required="">
        </div>
        <div class="button">
        <button class="btn " type="submit">Send Email</button>

        </div>
      </form>

      <p class="signup-link">
        Don't have an account?
        <a routerLink="/signup" class="signup-link link text-info text-decoration-underline"> Sign up now</a>
      </p>
</div>

