
  <div class="before">

  </div>
  @if (isLoading) {
  <div class="card">
    <div class="row g-0">
      <!-- Image Section -->
      
         <div class="col-md-4">
          
           <div class="card-img-wrapper">
            
             <img class="card-img" [src]="apod.url" alt="Astronomy Picture">
           
           
           </div>
         
         </div>
      <div class="col-md-8 mt-4">
        <div class="card-body">
          <h5 class="card-title text-info">{{ apod.title }}</h5>
          <p class="card-text">{{ apod.explanation }}</p>
          <div class="mt-3">
            <div class="star">Rating:{{rating | starRating }}</div>
            <button class="btn btn-primary"> <a  href="https://apod.nasa.gov/apod/astropix.html" target="_blank" class="text-decoration-none text-light">Learn More</a></button>
            
          </div>
        </div>
      </div>
    </div>
  
 
  </div>
}@else {

  <app-loader class="d-flex justify-content-center "style="margin-top: 150px; margin-bottom: 150px;"> </app-loader>
 
}





  