<div class="before"></div>
<div class="background" >

    
    <div class="container-lg">
        <div class="table-responsive">
            <div class="table-wrapper">
                <div class="table-title">
                    <div class="row">
                        <div class="col-sm-8 m-2"><h2>Stars <b>Details</b></h2></div>
                        <input class="form-control fs-5" type="text" class="input" (input)="search($event)"  placeholder="Search for stars..." aria-label="Search" style="max-width: 300px; background-color: #2c3e50; border: 2px solid rgba(0,0,0,.05); color: white; border-radius: 10px">
                        <div class="col-sm-4">
                            <button  [routerLink]="['/admin/add']" type="button" class="btn btn-info add-new"><i class="fa fa-plus"></i> Add New</button>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Image</th>
                            <th>Name</th>
                            <th>Category</th>
                            <th>Price</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                       @for( star of stars ; track $index){
                           <tr>
                               <td><img [src]="'http://127.0.0.1:3000/getimage/' + star.photo " alt="Profile" class="img-thumbnail" width="50px" height="50px"></td>
                               <td>{{star.name}}</td>
                               <td>{{star.category}}</td>
                               <td>{{star.price}}</td>
                               <td>
                                   <a class="add" title="Add" data-toggle="tooltip"><i class="material-icons">&#xE03B;</i></a>
                                   <a class="edit" [routerLink]="['/admin/edit/' + star._id]" title="Edit" data-toggle="tooltip" ><i class="material-icons">&#xE254;</i></a>
                                   <a class="delete" (click)="delete(star._id , $index)" title="Delete" data-toggle="tooltip"><i class="material-icons">&#xE872;</i></a>
                               </td>
                           </tr>

                       }
                  
                 
                    </tbody>
                </table>
                
            </div>
        </div>
    </div>  
      
    
    </div>