
<div class="container-fluid p-0">
    <div class="booking-content">
      <!-- Left Image Section -->
      <div class="booking-image"></div>
  
      <!-- Right Form Section -->
      <div class="booking-form d-flex flex-column justify-content-center">
        <h1 class="text-dark">Sign-in</h1>
        <form action="#">
          <div class="mb-3">
            <input type="email" class="form-control" id="email" placeholder="Email address" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" placeholder="Password" required>
          </div>
          <button type="submit" class="btn btn-custom btn-info">Sign-in</button>
          <div class="form-footer">
            <a routerLink="/forgotpassword" class="text-dark">Forgot Password?</a><br><br>
            don't have an account?  <a routerLink="/signup" class="text-dark">Sign Up</a>
          </div>
        </form>
      </div>
    </div>
  </div>
  
            