<div class="first-container">
<div class="container bg-dark">
    <h1>Login
    </h1>
    <form action="#">
        <div class="mb-3 ">
            <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Email-adress" required>
            <p id="emailHelp" class="form-text">We'll never share your email with anyone else.</p>
        </div>
        <div class="mb-3 ">
            <input type="password" class="form-control" id="password" placeholder="password" required>
        </div>
        <button type="submit" class="btn btn-light">Login</button>
        <a class="forgot-password text-warning" routerLink="/forgotpassword">Forgot Password?</a>
    </form>
</div>