<div class="container">
    <div class="row">
        <!-- Image section (left) -->
        <div class="col-md-4 col-12 image">
            <img [src]="'http://127.0.0.1:3000/getimage/' + star.photo" alt="picture not available" class="img-fluid">
        </div>
        <!-- Text section (right) -->
        <div class="col-md-6 col-12 text">
            <h1 class="text-center text-bold">{{star.price | currency:'USD'}}</h1>
            <p>{{star.name | uppercase}}</p>
            <p><strong>Category: </strong>{{star.category}}</p>
            <p>{{star.description}}</p>
            <button (click)="onClick()">ADD to cart</button>
            <button [routerLink]="['/stars']" class="btn btn-dark retour">
                <i class="bi bi-arrow-90deg-left"></i> Retour
            </button>
        </div>
    </div>
</div>