<div class="before">
  
</div>
<div class="container">
    <div class="row">
        <!-- Image section (left) -->
        <div class="col-md-4 col-12 image">
            <img [src]="'http://127.0.0.1:3000/getimage/' + star.photo" alt="picture not available" class="img-fluid" >
        </div>
        <div class="text">
            <h1 class="text-center text-bold">{{star.price|currency:'USD'}}</h1>
            <p class="star-name">{{star.name|uppercase}}</p>
            <p><strong>Category: </strong>{{star.category}}</p>
            <p><strong>State: </strong>{{star.state|state}}</p>
            <p><strong>Date of Birth : </strong>{{star.dateDeFormation | date}}</p>

            <p>{{star.description}}</p>
            @if(adminService.isLoggedIn()==false){

              <button (click)="onClick()" class="btn btn-primary">ADD to cart</button>
            }
            <!-- <button (click)="onClick()">ADD A comment</button> -->
            
            <button (click)="Back()" class="btn btn-dark"><i class="bi bi-arrow-90deg-left"></i> Retour</button>
            
            
            
          </div>
        </div>
        @if (this.userService.isLoggedIn() || this.adminService.isLoggedIn()) {
          <div class="comments-section">
            
            <div class="d-flex comment-input m-2">
              <strong>Comments : </strong>
              @if(this.lesCom.length==0){
                <strong>No comments yet.</strong>
              }
              @if(this.adminService.isLoggedIn()==false) {
              <input type="text" id="com" placeholder="Write your comment here" [(ngModel)]="commentaire.message" class="comment-input-field">

                <button (click)="onAdd()" class="btn btn-primary add-comment-btn">ADD A comment</button>
              }
            </div>
            

            @for(comment of lesCom ; track $index){
              <div class="comment">
                {{comment.username}} :
                {{comment.message}}
                @if((comment.username ===this.userService.getDataFromToken()?.name) || this.adminService.getDataFromToken()?.name){
                  <div><i (click)="deleteComment($index)" cli class="fa fa-trash mb-1 text-danger" style="cursor: pointer;"></i></div>
  
                }
              
              
            
              </div>
              
            }
        </div>

        }
    
    