<div class="container-fluid   d-flex justify-content-center align-items-center" style="margin-bottom: 200px;margin-top: 100px;" >
    <div class="booking-content">
      <div class="booking-form d-flex flex-column justify-content-center text-center">
        <h1 class="text-dark">Change password</h1>
        <form>
          <div class="mb-3">
            <input type="email" class="form-control" id="email" name="email" placeholder="Current password" required>
            
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" [(ngModel)]="pass" placeholder="New Password" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" id="password" name="password" placeholder="Confirm New Password" required>
          </div>
          <button class="btn btn-custom btn-info" (click)="edit()">Change password</button>
          
        </form>
      </div>
    </div>
  </div>
  