<div class="before"></div>
<div class="stars"></div>
<div class="form-container">
  <h1> + ADD Product </h1>
  <form [formGroup]="StarForm" (ngSubmit)="onCreate()" >
    <!-- Name -->
    <div class="form-group">
      <label for="name">Product Name</label>
      <input
        type="text"
        id="name"
        name="name"
        class="form-control"
        
        required
        placeholder="Enter product name"
        formControlName="name"
        
        
      />
    </div>

    <!-- Price -->
    <div class="form-group">
      <label for="price">Price</label>
      <input
        type="number"
        id="price"
        name="price"
        class="form-control"
        
        required
        placeholder="Enter price"
        formControlName="price"
       
        
      />
    </div>

    <!-- Photo -->
    <div class="form-group">
      <label for="photo"> Photo</label>
      <input
        type="file"
        id="photo"
        name="photo"
        class="form-control"
       
        (change)="onFileChange($event)"
    
      />
    </div>

    <!-- Category -->
    <div class="form-group">
      <label for="category">Category</label>
      <select id="category" name="category" class="form-control"  required  formControlName="category" >
        <option value="" disabled >Select a category</option>
        <option value="duonova">duonova</option>
        <option value="nebula">nebula</option>
        <option value="galaxy">Galaxy</option>
        <option value="comet">Comet</option>
      </select>
    </div>

    <!-- Description -->
    <div class="form-group">
      <label for="description">Description</label>
      <textarea
        id="description"
        name="description"
        class="form-control"
        rows="4"
        placeholder="Describe the product"
        formControlName="description"
       
      ></textarea>
    </div>

    <!-- Submit Button -->
    <button type="submit" class="btn-submit"  >
      Submit
    </button>
  </form>
</div>
