/* .background{
    height:100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('../../../../public/ressource/john-towner-7rlIPXTR6OI-unsplash.jpg');
    background-size:cover;
    background-position: center;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} */