.input {
  border: 2px solid transparent;
  width: 100%;
  max-width: 20em;
  height: 3em;
  padding-left: 0.8em;
  outline: none;
  overflow: hidden;
  background-color: #F3F3F3;
  border-radius: 10px;
  transition: all 0.5s;
}

.input:hover,
.input:focus {
  border: 2px solid #4A9DEC;
  box-shadow: 0px 0px 0px 7px rgba(74, 157, 236, 0.2);
  background-color: white;
}

select, 
button {
  min-width: 150px;
}

@media (max-width: 768px) {
  .input {
      width: 100%;
  }

  .d-flex.flex-column {
      gap: 1rem;
  }

  select, 
  button {
      width: 100%;
  }
}
