<div class="background">
<form class="form bg-dark">
    <h1 class="title">Register </h1>
    <p class="message">Signup now and get full access to our app. </p>
        <div class="names">
        <label>
            <input class="input" type="text" placeholder="First name" required="">
        </label>
        <label>
            <input class="input" type="text" placeholder="Last name" required="">
        </label>
    </div>  
    <label>
        <input class="input" type="email" placeholder="Email" required="">
    </label> 
        
    <label>
        <input class="input" type="password" placeholder="Password" required="">
    </label>
    <label>
        <input class="input" type="password" placeholder="Confirm password" required="">
    </label>
    <button class="submit">Submit</button>
    <p class="signin">Already have an acount ? <a class="text-warning" routerLink="/login">Login</a> </p>
</form>
</div>