html, body {
    height: 100%;
    margin: 0;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Assure que le wrapper occupe au moins la hauteur de la page */
}

.content {
    flex: 1; /* Prend tout l'espace restant */
}
